#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center;
  color: #2c3e50;
  margin: 0 auto;
  margin-top: 60px; */
}

/* a {
  color: #60b5cc;
} */
.field {
  margin-bottom: 20px;
}

label,
textarea {
  font-size: 1rem;
  display: block;
}

textarea {
  appearance: none;
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

label {
  margin-bottom: 10px;
}

textarea.invalid {
  border-color: #900;
  background-color: #fdd;
}

textarea:focus:invalid {
  outline: none;
}

.error {
  max-width: 290px;
  padding: 0.3em;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}