#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center;
  color: #2c3e50;
  margin: 0 auto;
  margin-top: 60px; */
}

/* a {
  color: #60b5cc;
} */

body {
  margin: 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  font-size: 16px;
  /* justify-content: flex-start; */
}

.top-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0 10px;
  background-color: #a1d9e9;
  width: 100%;
  min-width: 320px;
  /* padding: 5px 10px; */
}

.top-header>img {
  margin: 5px;
}

.top-header>h1 {
  margin: 0 0;
  font-size: 1.2rem;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 30px 20px;
  padding: 30px 5px;
}

.input {
  max-width: 500px;
  background-color: #a1d9e9;
  padding: 10px;
}

.output {
  /* margin-bottom: 20px; */
  /* margin-left: 30px; */
}

/* INPUT TEXTAREA */
.field {}

label,
textarea {
  font-size: 1rem;
  display: block;
}

textarea {
  appearance: none;
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px, 5px, 0, 0;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  margin: 0;
}

label {
  margin-bottom: 10px;
}

textarea.invalid {
  border-color: #900;
  background-color: #fdd;
}

textarea:focus:invalid {
  outline: none;
}

.error {
  max-width: 286px;
  padding: 0.3em;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}