#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center;
  color: #2c3e50;
  margin: 0 auto;
  margin-top: 60px; */
}

/* a {
  color: #60b5cc;
} */

body {
  margin: 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  font-size: 16px;
  /* justify-content: flex-start; */
}

.top-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0 10px;
  background-color: #a1d9e9;
  width: 100%;
  min-width: 320px;
  /* padding: 5px 10px; */
}

.top-header>img {
  margin: 5px;
}

.top-header>h1 {
  margin: 0 0;
  font-size: 1.2rem;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 30px 20px;
  padding: 30px 5px;
}

.input {
  padding: 10px;
}

.output {
  /* margin-bottom: 20px; */
  /* margin-left: 30px; */
}

/* INPUT TEXTAREA */
.field {}

label,
textarea {
  font-size: 1rem;
  display: block;
}

textarea {
  appearance: none;
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px, 5px, 0, 0;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  margin: 0;
}

label {
  margin-bottom: 10px;
}

textarea.invalid {
  border-color: #900;
  background-color: #fdd;
}

textarea:focus:invalid {
  outline: none;
}

.error {
  max-width: 286px;
  padding: 0.3em;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

/* accordion */

.accordion {
  /* width: 100%; */
  padding: 0 10px 10px 10px;
  background-color: #d9e7eb;
  max-width: 500px;
}

.accordion button {
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  min-height: 44px;
  width: 100%;
  font-weight: 900;
  font-size: 20px;
  color: #1864ab;
  cursor: pointer;
  border-top: 1px solid #868e96;
}

.accordion button:focus {
  outline: 4px solid #1864ab;
  outline-offset: 5px;
}

.accordion button[aria-expanded="true"] {
  border-bottom: 1px solid #ced4da;
}

.accordion h3:last-of-type button[aria-expanded="false"] {
  border-bottom: 1px solid #868e96;
}

.accordion section:last-of-type {
  border-bottom: 1px solid #868e96;
}

.accordion section {
  padding-left: 8px;
  padding-right: 9px;
  padding-top: 16px;
  padding-bottom: 16px;
  /* font-size: 16px; */
}

.accordion svg {
  width: 24px;
  height: 24px;
  color: inherit;
}